# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.ruff_cache/

# Environments
.venv/
venv/
.env

# Local artifacts
artifacts/*
!artifacts/.gitkeep
reports/*
!reports/.gitkeep
mlruns/
zenml/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

